body {
     margin: 0;
     font-family: 'Arial Narrow', Arial, sans-serif ;
     background-color:rgb(178, 206, 179);
    
}
p {
    margin: 12px;
}
label {
    text-align: center;
    color: whitesmoke;
}

input[type="range"]   {
    width: auto;
 }


 canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    } 

h2, h3, h4{
    color: rgb(82, 102, 82);
    font-weight: normal;
    margin: 12px;
    margin-top: 15px;
}
h2 {
    font-size: xx-large;
}
h3 {
    font-size: x-large;
}
h4 {
    font-size: larger;
}

#threeDCanvas {
transition: all .4s linear;
cursor: crosshair;
position: absolute;
z-index: 2;

}

.black {
    background-color: rgb(29, 29, 29);
}
.closed {
    width: 0;
    height: 0;
    border-radius: 1000px;
    top: 50%;
    right: 50%;
    opacity: .5;
}
.open {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    top: 0%;
    right: 0%;
}
#main-content {
    background-color:rgb(178, 206, 179);
    width: 100%;
    height: 100%;
   display: flex; 
   flex-direction: column;
    align-items: center;  
    position: absolute;
    bottom: 0%;
    z-index: 2;
    padding-bottom: 10px;

   
    
}
#divo {
   /*  padding: 10px; */
    background-color: blue;
}

.visiblity {
    visibility: hidden;
    width: 0%;
    height: 0%;
}

#init-btn {
    padding: 8px;
    text-align: center;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-bottom: 5;

}

.content {    
    z-index: 3;
}

#right-content {
    position: absolute;
    left: 90%;
    top: 20px;
}
#left-content {
    position: absolute;
    left: 20px;
    top: 20px;
}
#bottom-content {
    width: 100%;
    position:absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-content {
    position:absolute;
    top: 15px;
    left: 45%;
}
.text {
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}
.btn {
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: .1px solid grey;
    height: max-content;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(96, 114, 96);
    color: white;
    font-size: 11px;
    padding: 0 10px;
    box-shadow: none
 
}
.btn-pop {
    background-color: rgb(144, 185, 147); ;
}
.btn:hover {
    background-color: rgb(139, 161, 139);;
  
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(253, 252, 243);
    box-shadow: 10px 10px rgba(128, 128, 128, 0.123);
}
.section {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(144, 185, 147);
    border-radius: 4px;
    width: 75%;
    padding: 8px;
    box-shadow:0 10px 10px 0 rgba(0,0,0,0.14),0 5px 5px -2px rgba(0,0,0,0.12),0 10px 10px 0 rgba(0,0,0,0.2);
   
}

.sub-section {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    transition: all .4s linear;

}
.effector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.pop-section {
   flex-direction: column;
   background-color: rgb(102, 133, 105);;
   border-radius: 8px;
   width: 70%;
}


.title-text {
    font-size: 25px;
    text-shadow: 1px 2px 3px gray;

}
.black-text {
    color: rgb(88, 88, 88);
}
.input-text {
    padding: 4px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: .1px solid grey;
    padding-left: 8px;
    color: rgb(62, 62, 247);
  
}
.input-text::placeholder {
    color: rgb(255, 253, 253);
}
input { 
    background-color: rgb(207, 211, 207);
}

input:focus { 
   /*  border: .5px dashed greenyellow; */
    margin-left: 8px;
}
.label-input {
    display: inline-flex;
    align-items: center;
    padding: 4px;
}


.label-input input {
    color: blue;
}
.label-input p {
    margin-left: 4px;
    margin-right: 4px;
}
.inline {
    display: inline-block;
    margin: 4px;
}
.sub-text { 
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider {
    width: 90%;
    height: 1px;
    background-color: darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error-msg {
    color: red;
    
}
.centered-text {
    text-align: center;

}
.white-text {
    color: whitesmoke;
}
.centered-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.action {
    border: 1px dashed white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 2px;
}
.darker {
    color: rgb(81, 99, 81);;
}
.note  {
    color: rgb(111, 111, 255);
    font-weight: bold;
}
.note-light {
    color: rgb(184, 184, 248);
}
.collabse {
    visibility: collapse;
}
.padding {
    padding-left: 15px;
}
.saved-action-name {
    color: rgb(36, 36, 252);
}
#actions-div {
    display: flex;
    flex-direction: column;
}

#visualize-div  {
    background-color:rgb(178, 206, 179);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
   align-items: center;
    flex-direction: column;
    
    
}
.x {
    position:absolute;
    top: 1.5%;
    left: 95%;
    font-size: 30px;
    cursor: pointer;
    color: black;
    z-index: 4;
    
}
.text-t {
    margin: 0;
}
.horz {
    display: flex;
    flex-direction: column;
}